@{
    ViewData["Title"] = "Listagem de contatos";
}

<div class="text-center">

    <h1 class="display-4">Cadastrar Contato</h1>

</div>

<form>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" placeholder="Nome do contato">    
    </div>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" class="form-control" placeholder="Nome o E-mail do contato">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
